<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Covid Data Service</title>
</h:head>

<h:body>
	<!--
    <h:form>
        <h:outputText value="Your Name: " />
        <p:inputText value="#{helloWorld.name}" />
        <p:commandButton value="Submit" update="sayHelloId" />
        <br /><br />
        <h:outputText id="sayHelloId" value="#{helloWorld.sayHello()}" />
    </h:form>
-->

	<p:graphicImage url="logo_fhnw.jpg" height="50px" />
	<br />
	<h1 class="title ui-widget-header">FHNW - MASAM - Covid Data Service</h1>
	<br />
	<p:graphicImage url="img205345363.jpg" height="300px" />

	<h:form id="inputform">
		<p:selectOneMenu id="city" value="#{covidService.country}" style="width:150px">
        	<f:selectItem itemLabel="Select Country" itemValue="" noSelectionOption="true"/>
        	<f:selectItems value="#{covidService.countries}"/>
        </p:selectOneMenu>
        
		<p:commandButton id="retrieveButton" value="Retrieve Data" action="#{covidService.retrieveData()}" update="datatable"></p:commandButton>
	
		<p:dataTable id="datatable" var="row" value="#{covidService.dataRows}">
			
			<p:column headerText="Country">
				<h:outputText value="#{row.country}" />
			</p:column>

			<p:column headerText="Case Type">
				<h:outputText value="#{row.caseType}" />
			</p:column>

			<p:column headerText="Date">
				<h:outputText value="#{row.date}" />
			</p:column>

			<p:column headerText="Cases">
				<h:outputText value="#{row.cases}" />
			</p:column>

			<p:column headerText="Population Count">
				<h:outputText value="#{row.populationCount}" />
			</p:column>
			
		</p:dataTable>

	</h:form>

</h:body>
</html>